@import "mixins/all";

.debt{
    margin-left: 56px;

    .toggle{
        @height: 40px;

        height: @height;
        line-height: @height/2;
        cursor: pointer;

        .profile{
            position: absolute;
            left: -56px;
        }

        .amount{
            float: right;
            font-size: 12px;
            color: @gray;

            &.neg{
                //color: #DE3226;
            }
        }

        small{
            display: block;
            font-size: 12px;
            color: @dark-gray;
        }

        + div{
            padding-top: 16px;
            .item{
                font-size: 14px;
                padding: 4px 0;
                border-bottom: solid 1px @light-gray;
                margin-left: 16px;

                .md{
                    position: absolute;
                    margin-left: -16px;
                    color: @gray;
                }

                .pull-right{
                    font-size: 12px;
                    color: #4CAF50;

                    &.neg{
                        color: #F44336;
                    }
                }

                &.last{
                    border: none;
                }
            }
        }
    }
}