@import "mixins/all";

html, body{
    margin: 0;
    padding: 0;
    background: @white;
    font-family: 'Roboto', sans-serif;
    color: @black;
}

body{
    padding-top: @navbar-height;
}

a{
    cursor: pointer;
}