@import "mixins/all";

html, body{
    margin: 0;
    padding: 0;
    background: @white;
    font-family: 'Roboto', sans-serif;
    color: @black;
}

body{
    padding-top: @navbar-height;
}

a{
    cursor: pointer;
}

section{
    padding: 16px;

    &.dark{
        padding: 8px;
        background: @light-gray;
        min-height: 100vh;
        padding-bottom: 40px;
    }
}

article{
    background: @white;
    border-radius: 3px;
    .shadow(1);
    padding: 16px;
    margin-bottom: 8px;
}

.profile{
    @size: 19px;

    width: @size;
    height: @size;
    vertical-align: text-top;
    display: inline-block;
    background: center;
    background-size: cover;
    border-radius: 100%;

    &.large{
        width: 40px;
        height: 40px;
    }

    &.xl{
        width: 64px;
        height: 64px;
        margin: auto;
        display: block;
    }
}

.btn {
    text-transform: uppercase;
    color: @primary;
    padding: 0 16px;
    background: none;
    border: none;
    margin-top: 16px;
    cursor: pointer;
    text-decoration: none;

    &.raised{
        .shadow();
        background: @primary;
        color: @white;
        padding: 0 8px;
        height: 36px;
        line-height: 36px;
    }
}

.list-item{
    padding: 16px 0;
    position: relative;
    display: block;

    &:after{
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 1px;
        background: @light-gray;
    }

    &.last:after{
        display: none;
    }
}

h1, h2, h3{
    font-weight: normal;
    margin: 8px 0;

    &.offset, &.offset + .subtitle{
        margin-left: 56px;
    }
}

h1{
    font-size: 20px;
}

.subtitle{
    font-size: 14px;
    color: @dark-gray;
    margin-top: -4px;
}

.pull-right{
    float: right;
}

.alert{
    background: @light-black;
    padding: 24px;
    color: @white;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .5s;

    &.hidden{
        transform: translateY(100%);
        transition: all 0s;
    }
}

b{
    font-weight: normal;
    color: @accent;
}

.submenu{
    background: @white;
    position: absolute;
    border-radius: 3px;
    .shadow();
    padding: 8px 0;
    z-index: 1900;
    top: -8px;
    right: 0;
    font-size: 16px;
    transition: all .1s;
    transform-origin: top right;

    ~ .dismiss{
        content: "";
        position: fixed;
        z-index: 1800;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &.hidden{
        opacity: 0;
        visibility: hidden;
        transition: all .1s, visibility 0s .1s;
        transform: scale(.2);

        ~ .dismiss{
            visibility: hidden;
        }
    }

    > *{
        display: block;
        text-decoration: none;
        color: @black;
        padding: 0 16px;
        line-height: 48px;
        white-space: nowrap;

        &:hover{
            background: @dark-white;
        }
    }
}