@import "mixins/all";

nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: @navbar-height;
    background: @primary;
    display: flex;
    align-items: center;
    padding: 0 16px;
    color: @white;
    font-size: 24px;
    .shadow();

    > *{
        margin-right: 16px;
    }

    .profile{
        @size: @navbar-height - 20px;

        width: @size;
        height: @size;
        background: center;
        background-size: cover;
        display: block;
        border-radius: 100%;
        position: absolute;
        right: 0;
        margin-top: -@size /2;
        top: 50%;
    }

    .add-btn{
        @size: 56px;

        background: @accent;
        color: @white;
        border-radius: 100%;
        height: @size;
        width: @size;
        display: block;
        position: fixed;
        right: 16px;
        bottom: 16px;
        text-align: center;
        line-height: @size;
        margin: 0;
        .shadow(2);
    }
}