@import "mixins/all";

@sidebarWidth: 80vw;

nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: @navbar-height;
    background: @primary;
    display: flex;
    align-items: center;
    padding: 0 16px;
    color: @white;
    font-size: 24px;
    .shadow();
    transition: all .3s;
    z-index: 1000;

    > *{
        margin-right: 16px;
    }

    .profile{
        @size: @navbar-height - 20px;

        width: @size;
        height: @size;
        display: block;
        position: absolute;
        right: 0;
        margin-top: -@size /2;
        top: 50%;
    }

    .add-btn{
        @size: 56px;

        background: @accent;
        color: @white;
        border-radius: 100%;
        height: @size;
        width: @size;
        display: block;
        position: fixed;
        right: 16px;
        bottom: 16px;
        text-align: center;
        line-height: @size;
        margin: 0;
        z-index: 1000;
        .shadow(2);
        transition: all .3s;

        &.hidden{
            transform: translateY(@size + 16px);
        }
    }

    .action{
        color: @primary-dark;
    }
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: @white;
    z-index: 1100;
    overflow: hidden;
    transition: all .3s;
    width: @sidebarWidth;
    transform: translateX(-100%);
    .shadow(3);

    &.deployed{
        transform: translateX(0);
    }

    .header{
        background: url('../img/bg.jpg') bottom;
        background-size: cover;
        color: @white;
        padding: 16px;
        position: relative;
        font-size: 20px;
        .shadow(1);

        .profile{
            @size: 60px;

            width: @size;
            height: @size;
            display: block;
            margin-bottom: 24px;
        }
    }

    .list-item{
        margin-left: 72px;
        text-decoration: none;
        color: @black;

        .md{
            position: absolute;
            width: 72px;
            text-align: center;
            left: -72px;
            font-size: 24px;
            color: @dark-gray;
        }
    }
}

.sidebar-out{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1100;
    background: rgba(0,0,0,.5);
    transition: all .3s, visibility 0s .3s;
    opacity: 0;
    visibility: hidden;

    &.deployed{
        left: @sidebarWidth;
        opacity: 1;
        visibility: visible;
        transition: all .3s, visibility 0s;
    }
}

.tabs{
    position: fixed;
    top: @navbar-height;
    left: 0;
    right: 0;
    background: @primary;
    display: flex;
    z-index: 1001;
    box-shadow: 0 4px 3px rgba(0,0,0,0.12), 0 3px 2px rgba(0,0,0,0.24);

    > *{
        color: @primary-light;
        text-decoration: none;
        flex: 1;
        text-align: center;
        padding: 16px 0;
        text-transform: uppercase;
        font-size: 14px;
        transition: all .4s;

        &.active{
            color: @white;
        }
    }

    .current{
        position: absolute;
        height: 2px;
        padding: 0;
        background: @accent;
        bottom: 0;
        left: 0;
        right: 0;
        transition: right .3s, left .3s .1s;

        &.left{
            transition: left .3s, right .3s .1s;
        }
    }
}