<div class="list-item debt" ng-class="{last:last}">
    <div class="toggle" ng-click="ctrl.deployed = !ctrl.deployed">
        <div class="profile large" style="background-image: url({{ debt.user.profileUrl }})"></div>

            <span class="amount" ng-class="{neg:debt.amount>0}">
                {{ ctrl.abs(debt.amount)|currency:'€' }}
            </span>

        {{ debt.user.name }}
        <small>
            {{ debt.expenses.length }} {{ debt.expenses.length == 1 ? 'dépense' : 'dépenses' }}
        </small>
    </div>
    <div ng-if="ctrl.deployed">
        <!--<div ng-repeat="expense in debt.expenses" class="item" ng-class="{last:$last}">-->
            <!--<span class="pull-right">-->
                <!--{{ expense.amount / expense.recipients.length |currency:'' }}-->
            <!--</span>-->
            <!--{{ expense.title }}-->
        <!--</div>-->
        <div class="timeline">
            <div ng-repeat="expense in debt.expenses" class="event" ng-class="{last:$last}">
                {{ expense.title }}
            </div>
        </div>
    </div>
</div>