<div class="list-item debt" ng-class="{last:last}">
    <div class="toggle" ng-click="ctrl.deployed = !ctrl.deployed">
        <div class="profile large" style="background-image: url({{ debt.user.profileUrl }})"></div>

            <span class="amount">
                {{ ctrl.abs(debt.amount)|currency:'€' }}
                <i class="md md-more-vert" ng-click="ctrl.subMenu = !ctrl.subMenu; $event.stopPropagation()" style="position: relative">
                    <div class="submenu"  ng-class="{hidden:!ctrl.subMenu}">
                        <a ui-sref="payback({facebookId:debt.user.facebookId})" ng-if="debt.amount > 0">
                            <i class="md md-reply"></i>
                            Rembourser
                        </a>
                        <a ui-sref="payback({facebookId:debt.user.facebookId})" ng-if="debt.amount < 0">
                            <i class="md md-file-download"></i>
                            Encaisser
                        </a>
                    </div>
                    <div class="dismiss"></div>
                </i>
            </span>

        {{ debt.user.name }}
        <small>
            {{ debt.expenses.length }} {{ debt.expenses.length == 1 ? 'dépense' : 'dépenses' }}
        </small>
    </div>
    <div ng-if="ctrl.deployed">
        <div class="timeline">
            <div ng-repeat="expense in debt.expenses | orderBy:'-date'" class="event">
                <i class="md" ng-class="{'md-call-received':!ctrl.userIsPayer(expense)}"></i>
                <span class="pull-right">{{ expense.amount / expense.recipients.length |currency:'' }}</span>
                {{ expense.title }}
                <small>
                    {{ expense.date | date : 'EEE d MMM' }}
                </small>
            </div>
        </div>
    </div>
</div>