<nav>
    <a class="action"
       ng-click="navBarCtrl.toggleSidebar()">
        <i class="md md-menu"></i>
    </a>
    <span>{{ navBarCtrl.title }}</span>
    <a class="add-btn" ui-sref="add" ng-class="{hidden:!navBarCtrl.showAddBtn}">
        <i class="md md-add"></i>
    </a>
</nav>
<div class="sidebar" ng-class="{deployed:navBarCtrl.menuDeployed}">
    <div class="header">
        <div class="profile" style="background-image: url({{ navBarCtrl.user.profileUrl }})"></div>
        {{ navBarCtrl.user.name }}
    </div>
    <a ui-sref="home" class="list-item">
        <i class="md md-account-balance-wallet"></i>
        Dettes
    </a>
    <a ui-sref="expenses" class="list-item">
        <i class="md md-access-time"></i>
        Historique
    </a>
    <a ui-sref="payback" class="list-item">
        <i class="md md-reply"></i>
        Rembourser
    </a>
</div>
<div class="sidebar-out" ng-class="{deployed:navBarCtrl.menuDeployed}" ng-click="navBarCtrl.toggleSidebar()"></div>
<div class="alert hidden" ng-class="{hidden:!navBarCtrl.showSnackbar}">
    {{ navBarCtrl.snackbarContent }}
</div>