<div class="input caret user"
     ng-class="{empty: ctrl.isEmpty()}"
     ng-click="ctrl.selecting = true"
        >
    <span ng-if="ctrl.isEmpty()">
        {{ ctrl.placeholder }}
    </span>

    <user-chip ng-repeat="user in ctrl.selectedUsers"
               user="user">
    </user-chip>
</div>

<div class="modal user-list hidden"
     ng-class="{hidden:!ctrl.selecting}"
        >
    <input placeholder="Rechercher" ng-model="ctrl.filter" ng-if="ctrl.friends.length > 3">
    <div class="content">
        <div ng-repeat="user in ctrl.friends | filter : {name:ctrl.filter}"
             ng-click="ctrl.select(user)"
                >
            <user-chip user="user" selected="ctrl.isSelected(user)"></user-chip>
        </div>
    </div>

    <div class="actions">
        <a ng-click="ctrl.selecting = false">Ok</a>
    </div>
</div>
<div class="dismiss" ng-click="ctrl.selecting = false"></div>